# CityBikes

Send a request to CityBikes for the city of your choice.

In [1]:
import requests
import json
import pandas as pd

url = "http://api.citybik.es/v2/networks"
bikejs = requests.get(url)



url='http://api.citybik.es/v2/networks'
data = requests.get(url).json()

df = pd.DataFrame(data['networks'])

name = df['name']

location = df['location']

print(location)
# myloc = location[0]


# myloc.get('city', 'Moscow'
# )
myloc = 'Vancouver'

def citychoice(myloc):
    citylist = []

    for i, each in enumerate(location):
        if each['city'] == myloc:
            citylist.append(i)

    return citylist

citychoice(myloc)

0      {'city': 'Moscow', 'country': 'RU', 'latitude'...
1      {'city': 'Bærum', 'country': 'NO', 'latitude':...
2      {'city': 'Siena', 'country': 'IT', 'latitude':...
3      {'city': 'Maroussi', 'country': 'GR', 'latitud...
4      {'city': 'Nafplio', 'country': 'GR', 'latitude...
                             ...
672    {'city': 'Argelès-sur-Mer', 'country': 'FR', '...
673    {'city': 'Mendoza', 'country': 'AR', 'latitude...
674    {'city': 'Passo Fundo', 'country': 'BR', 'lati...
675    {'city': 'Cascavel', 'country': 'BR', 'latitud...
676    {'city': 'La Rochelle', 'country': 'FR', 'lati...
Name: location, Length: 677, dtype: object

[210]

In [3]:
df.iloc[210]['id']

'mobibikes'

Parse through the response to get the details you want for the bike stations in that city (latitude, longitude, number of bikes).

In [4]:
vanid = df.iloc[210]['id']

mobiurl = f'http://api.citybik.es/v2/networks/{vanid}'

vanmobi = requests.get(mobiurl).json()
mobidf = pd.DataFrame(vanmobi['network']['stations'])

Put your parsed results into a DataFrame.

In [13]:
mobidf

,empty_slots,extra,free_bikes,id,latitude,longitude,name,timestamp
0,15,"{'ebikes': 0, 'has_ebikes': True, 'last_update...",20,7a19c49f486d7c0c02b3685d7b240448,49.262487,-123.114397,10th & Cambie,2023-11-22T10:39:15.138000Z
1,6,"{'ebikes': 1, 'has_ebikes': True, 'last_update...",9,32603a87cfca71d0f7dfa3513bad69d5,49.274566,-123.121817,Yaletown-Roundhouse Station,2023-11-22T10:39:15.122000Z
2,12,"{'ebikes': 0, 'has_ebikes': True, 'last_update...",12,6d42fa40360f9a6b2bf641c7b8bb2862,49.279764,-123.110154,Dunsmuir & Beatty,2023-11-22T10:39:15.129000Z
3,8,"{'ebikes': 4, 'has_ebikes': True, 'last_update...",8,66f873d641d448bd1572ab086665a458,49.260599,-123.113504,12th & Yukon (City Hall),2023-11-22T10:39:15.134000Z
4,8,"{'ebikes': 5, 'has_ebikes': True, 'last_update...",8,485d4d24c803cfde829ab89699fed833,49.264215,-123.117772,8th & Ash,2023-11-22T10:39:15.153000Z
...,...,...,...,...,...,...,...,...
239,11,"{'ebikes': 1, 'has_ebikes': True, 'last_update...",3,13021bba7bbeca1ccd8726ca17da59e6,49.250940,-123.101306,22nd & Main,2023-11-22T10:39:15.223000Z
240,9,"{'ebikes': 1, 'has_ebikes': True, 'last_update...",11,5699b40126e10c2f68eefc3eb18ff3a1,49.270783,-123.141564,1st & Fir,2023-11-22T10:39:14.885000Z
241,16,"{'ebikes': 2, 'has_ebikes': True, 'last_update...",6,34fd37d12eb989b49518ef53941ee3ff,49.264019,-123.209176,Sasamat & 10th,2023-11-22T10:39:14.825000Z
242,3,"{'ebikes': 6, 'has_ebikes': True, 'last_update...",17,b7dd37a7dd668d6d10024b7f18acc438,49.265800,-123.205960,Trimble & 8th,2023-11-22T10:39:14.884000Z
243,11,"{'ebikes': 0, 'has_ebikes': True, 'last_update...",9,cc25ae4f093b33ba0afd1dbc0dd20324,49.265442,-123.187738,Highbury & 8th,2023-11-22T10:39:15.208000Z

In [12]:
mbd = mobidf['name']
cactus = 'Burrard'

def find_cactus(cactus):

    lmbd = []
    for i, each_street in enumerate(mbd):
        if cactus in each_street:
            lmbd.append(i)
            print(each_street)
    return lmbd
        
find_cactus(cactus)

Pender & Burrard
Helmcken & Burrard
Burrard & 4th
Burrard & 7th
Burrard Station (Melville & Dunsmuir)
Smithe & Burrard
Burrard & Drake
Burrard & 14th

[10, 21, 74, 75, 155, 178, 207, 234]

In [10]:
mobidf.iloc[4]

empty_slots                                                    8
extra          {'ebikes': 5, 'has_ebikes': True, 'last_update...
free_bikes                                                     8
id                              485d4d24c803cfde829ab89699fed833
latitude                                               49.264215
longitude                                            -123.117772
name                                                   8th & Ash
timestamp                            2023-11-22T10:39:15.153000Z
Name: 4, dtype: object