# RUN THIS FIRST
Build a regression model.

In [26]:
import requests
import json
import pandas as pd
import scipy
import numpy as np
import statsmodels.api as sm

url='http://api.citybik.es/v2/networks'
data = requests.get(url).json()
df = pd.DataFrame(data['networks'])
name = df['name']
location = df['location']
# myloc = location[0]
# myloc.get('city', 'Moscow'
# )
myloc = 'Vancouver'
def citychoice(myloc):
    citylist = []

    for i, each in enumerate(location):
        if each['city'] == myloc:
            citylist.append(i)

    return citylist

citychoice(myloc)
df.iloc[210]['id']
vanid = df.iloc[210]['id']
mobiurl = f'http://api.citybik.es/v2/networks/{vanid}'
vanmobi = requests.get(mobiurl).json()
mobidf = pd.DataFrame(vanmobi['network']['stations'])
bikesdf = mobidf[['empty_slots','free_bikes', 'latitude','longitude']]
freebike = mobidf[['free_bikes']]
freebike = freebike.iloc[:20,:]
freebike

    free_bikes
0           19
1            8
2           17
3            7
4           16
5            2
6           10
7            5
8           19
9            5
10          22
11          11
12          20
13          16
14          19
15           0
16          10
17          19
18           9
19          11

In [23]:
### yelp
url = "https://api.yelp.com/v3/businesses/search"
headers = {
    "Authorization": "Bearer fVfb_wKWizfP72_5mTkeTJ3tk74QtNfMzS0AX487gOyoSMiRmzSaYoNtETMYIpN0_5fhbwn_TSyPWsSxNHXBC_tpvfaV6wM9SyKlFrUmrk9rwVmOl6_U60Djit5dZXYx",
    "Accept": "application/json"
}
params = {
    "term": "restaurants",
    "location": "Vancouver",
    "rating": 4.5
}
params2 = {
    "term": "casino",
    "location": "Vancouver"
}
response = requests.get(url, headers=headers, params=params)
yelpdf = response.json()
yelpdf = pd.DataFrame(yelpdf['businesses'])
yelpdf
yumyelp = yelpdf[['rating','review_count']]
topyelp = yelpdf[['rating']]
topyelp

    rating
0      4.0
1      4.5
2      4.5
3      4.5
4      4.5
5      4.5
6      4.5
7      4.0
8      5.0
9      4.0
10     4.0
11     4.5
12     4.5
13     4.0
14     4.5
15     4.0
16     4.5
17     4.5
18     4.5
19     4.5

In [27]:
X = sm.add_constant(freebike)
lin_reg = sm.OLS(topyelp,X['free_bikes'])

Provide model output and an interpretation of the results.

In [28]:
model = lin_reg.fit()
print_model = model.summary()
print(print_model)

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                 rating   R-squared (uncentered):                   0.793
Model:                            OLS   Adj. R-squared (uncentered):              0.782
Method:                 Least Squares   F-statistic:                              72.63
Date:                Thu, 23 Nov 2023   Prob (F-statistic):                    6.47e-08
Time:                        17:27:04   Log-Likelihood:                         -42.201
No. Observations:                  20   AIC:                                      86.40
Df Residuals:                      19   BIC:                                      87.40
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
free_bikes     0.2824      0.033      8.522      0.000       0.213       0.352
==============================================================================
Omnibus:                        2.098   Durbin-Watson:                   2.005
Prob(Omnibus):                  0.350   Jarque-Bera (JB):                1.051
Skew:                           0.042   Prob(JB):                        0.591
Kurtosis:                       1.880   Cond. No.                         1.00
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.

# Stretch

How can you turn the regression model into a classification model?